<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NiceTennisDenisIntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NiceTennisDenisIntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NiceTennisDenisIntegrationTests.Properties.Settings>
            <setting name="sqlServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="sqlDatabase" serializeAs="String">
                <value>nice_tennis_denis</value>
            </setting>
            <setting name="sqlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="datasDirectory" serializeAs="String">
                <value>D:\Ma programmation\csharp\Projects\NiceTennisDenis\datas</value>
            </setting>
            <setting name="isWta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="configurationId" serializeAs="String">
                <value>1</value>
            </setting>
        </NiceTennisDenisIntegrationTests.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NiceTennisDenisIntegrationTests.Properties.Settings>
            <setting name="sqlConnStringPattern" serializeAs="String">
                <value>Server={0};Database={1};Uid={2};Pwd={3};</value>
            </setting>
        </NiceTennisDenisIntegrationTests.Properties.Settings>
    </applicationSettings>
</configuration>